.classpage{
	display: none;
}

.active{
	display: block;
}

.class_left{ 
	width: 28%;
	display: inline-block;
}

.small_date{
	position: fixed;
	top: 200px;
	left: 200px;
}

.class_outer {
	width: 70%;
	display: inline-block;
}

.class_outer img{ cursor: pointer; }

.class_table *{ border: 1px solid gray; }

.class_content {
	height: 600px;
	overflow-y: scroll;
}

.class_time{ width: 45px; height: 70px;}

.class_name{ height: 50px; }
.class_inner{ height: 70px; }

.class_name,
.class_inner {
	width: 105px;
	vertical-align: middle;
}

.inner_div {
	width: 90%;
	height: 90%;
	margin: 2px auto;
	background: #9aaeff;
}

.no_event{ cursor: pointer; }

