br{
	border: currentColor !important;
	border-image: none;
}

.classpage{
	display: none;
}

.active{
	display: block;
}

.ui-dialog-titlebar{height: 20px; }
button.ui-button{
	position: absolute;
	top:0;
	right: 0;
	height: 20px;
}

.no_event .inner_div:hover{ background: rgba(154,174,255,0.5); }

.class_outer {
	display: inline-block;
}

.class_outer img{ cursor: pointer; }

.class_content {
	height: 600px;
	overflow-y: scroll;
}

.user_div{background: #ff9aae;}

/**/

small {color: gray;}

.new_class{
	height: 80px;
	font-size: 1.2em;
	width: 115px;
	margin: 10px 0;
	vertical-align: middle;
	border-left: 1px dashed gray;
	border-top: none;
	border-right: 1px dashed gray;
	background:#BDBABD;
}

.inner_div {
	margin: 0 auto;
	padding: 3px;
	height: 70px;
	overflow: hidden;
	border-radius: 25px;
	border: none;
	text-align:center;
}
.event>div>div:hover{
	height: auto; 
	border-radius:0px;
	padding:0 5px 15px 5px;
	cursor: default;
}
.no_event .inner_div{
	margin: 0;
	height: 63px;
	border: none;
	background: transparent;
}

.no_event{ cursor: pointer; }

.time_name{ 
	height: 80px; 
	width: 81px;
	vertical-align: middle;
	font-size: 1.2em; 
	border-radius:50px; 
	background:#D6D3D6; 
	cursor: default;
}
.time_name:hover{
	border-radius: 0;
}
.class_inner{ height: 80px; font-size: 1.2em; }
.class_inner {
	width: 80px;
	vertical-align: middle;
	border-left: none;
	border-top: none;
	border-right: 1px dashed gray;
	border-bottom: none;
}
.class_time{ width: 115px; height: 70px; font-size: 1.2em; }
.outer_div{
	margin: 0 auto;
	width: 100%;
	overflow: hidden;
	border: none;
}
.TableFix{
	position: fixed;
	top:0;
}
.hide_time{
	font-size: 1.8em;
	color: #eff3f6;	
}
