html, body{width: 100%;}

.container
{
	margin: 0px auto;
	width: 80%;
}

.title
{
	padding-top: 30px;
	font-family: times, Times New Roman, times-roman, georgia, serif;
	font-size: 28px;
	line-height: 40px;
	letter-spacing: -1px;color: #444;
}

.content_title{
	font-weight: 250%;
	margin: 10px 0;
	color: #468847;
	padding: 0 20px;
}

#navbar
{
	position: absolute;
	top: 140px;
	width: 1000px;
	text-align: right;
}
#navbar ul
{
	display: inline-block;
	overflow: hidden;
	height: 50px;
}
#navbar li{
	display: inline;
	padding: 2px;
}

.ui-state-default{
	height: 100%;
}

select:not(.ll-skin-siena *){
   background: url(../img/new_arrow.png) no-repeat right transparent;
   padding: 5px;
	margin: 5px;
   font-size: 11px;
   line-height: 1;
   width: 100px;
   height: 28px;
   border: 1px solid #ccc;
   border-radius: 0;
   -webkit-appearance: none;
   overflow: hidden;
}

.ll-skin-siena select{
	width: 5px;
}

/* Table icon */

.Modify, .Delete{
	cursor: pointer;
	text-align: center;
}

.Modify img, .Delete img{
	height: 20px;
}

/*button*/

.myButton {
background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #bab1ba));
background:-moz-linear-gradient(top, #ededed 5%, #bab1ba 100%);
background:-webkit-linear-gradient(top, #ededed 5%, #bab1ba 100%);
background:-o-linear-gradient(top, #ededed 5%, #bab1ba 100%);
background:-ms-linear-gradient(top, #ededed 5%, #bab1ba 100%);
background:linear-gradient(to bottom, #ededed 5%, #bab1ba 100%);
filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#bab1ba',GradientType=0);
background-color:#ededed;
-moz-border-radius:15px;
-webkit-border-radius:15px;
border-radius:15px;
border:1px solid #d6bcd6;
display:inline-block;
cursor:pointer;
color:#627a8c;
font-family:arial;
font-size:17px;
padding:7px 25px;
text-decoration:none;
text-shadow:0px 1px 0px #e1e2ed;
}
.myButton:hover {
background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #bab1ba), color-stop(1, #ededed));
background:-moz-linear-gradient(top, #bab1ba 5%, #ededed 100%);
background:-webkit-linear-gradient(top, #bab1ba 5%, #ededed 100%);
background:-o-linear-gradient(top, #bab1ba 5%, #ededed 100%);
background:-ms-linear-gradient(top, #bab1ba 5%, #ededed 100%);
background:linear-gradient(to bottom, #bab1ba 5%, #ededed 100%);
filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#bab1ba', endColorstr='#ededed',GradientType=0);
background-color:#bab1ba;
}
.myButton:active {
position:relative;
top:1px;
}
